@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #EBDEDE;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #400F38;
    --foreground: #400F38;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
} */
